<section class="header-container">
    <div class="row">
      
      <nav class="nav">
        <div class="logo-container">
          <img class="logo" alt="item" [src]="itemImageUrl" />
          <h3>{{title}}</h3>
        </div>
        
        <p>about IAL</p>
        <p>who we are</p>
        <p>login</p>
      </nav>
      <!-- <h1>{{ title }}</h1> -->
      <p>
        A robust and efficient space supply chain management system is essential
        for any organization looking to engage in space exploration or
        commercialization. It is critical to ensure that resources and materials
        are readily available when and where they are needed to maximize
        productivity, efficiency, and profitability
      </p>
  
      <button>Get AII today</button>
      <button>Learn more ↓</button>
    </div>
  </section>
