app-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/img/background-img.jpg);
  width: 100vw;
  height: 100vh;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
}