

<div class="hero-container">
    <div class="hero-text">
        <h2>
          Designed for max efficiency. <br> Manage your galactic inventory all from one
          place
        </h2>
        <p>
          A robust and efficient space supply chain management system is essential for
          any organization looking to engage in space exploration or
          commercialization. It is critical to ensure that resources and materials are
          readily available when and where they are needed to maximize productivity,
          efficiency, and profitability.
        </p>
        <!-- https://mightytechno.com/creating-a-reusable-button-component-in-angular/ -->
        <br/>
        <button class="btn">Get Started</button>
        <button class="btn btn-ghost">Learn More</button>
      </div>
    <!-- <img [src]="itemImageUrl"/> -->
</div>
